body {
    background-color: #46868B;
}
h1 {
    text-align: center;
    padding-top: 150px;
    font-family: 'Ultra', serif;
    color: aliceblue;
}
.but {
    border-radius: 50px 50px 50px 50px;
}
#check {
    color: rgb(9, 224, 27);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}